<div id="welcome_body">
  <h1>Welcome to the <span id="welcome_logo">MiniShop</span></h1>

  <ul>
    <li><a href="/merchants" class="button">View All Merchants</a></li>
    <li><a href="/merchants/new" class="button">Make A New Merchant</a></li>
  </ul>

</div>