<h1>Mini Shop</h1>

<ul>
  <li><a href="/merchants">Merchants</a></li>
  <li><a href="/items">Items</a></li>
  <li><a href="/merchants/new">New Merchant</a></li>
  <li><a href="/items/new">Merchants</a></li>
</ul>
