<!DOCTYPE html>
<html>
  <head>
    <title>Outdoor Optimism</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1 class="welcome-name">Outdoor Optimism</h1>
    <section class="welcome-links">
      <%= link_to 'Merchants', "/merchants" %>
      <%= link_to 'All Items', "/items" %>
    </section>
  </body>
</html>
