<h1>Edit Merchant</h1>

<form action="/merchants/<% @merchant.id %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
  <input type="hidden" name="_method" value="PATCH" />

  <p>Name:</p>
  <input type="text" name="merchant[name]" />

  <p>Address:</p>
  <input type="text" name="merchant[address]" />

  <p>City:</p>
  <input type="text" name="merchant[city]" />

  <p>State:</p>
  <input type="text" name="merchant[state]" />

  <p>Zip Code:</p>
  <input type="text" name="merchant[zip]" /><br /><br />

  <input type="submit" name="Update Merchant" />
</form>
