<section class="page-wrapper">
  <div class="page-title-bar">
    <span class="page-title">Merchants</span>
    <a href="/merchants/new" class="btn">Add Merchant</a>
  </div>
  <ul id="merchants">
    <% @merchants.each do |merchant| %>
    <li class="merchant-title">
      <a href="/merchants/<%= merchant.id%>"><%= merchant.name %></a>
    </li>
    <% end %>
  </ul>
</section>
