<h1>Merchants</h1>

<%= link_to 'New Merchant', '/merchants/new' %>

<% @merchants.each do |merchant| %>
  <h2>Name: <%= merchant.name %></h2>
  <%= link_to 'Edit', "/merchants/#{merchant.id}" %>
<% end %>
