<h1>All Merchants</h1>

<%= link_to "New Merchant", "/merchants/new" %>
<br>
<% @merchants.each do |merchant| %>
  <br>
  <a style="color: #000000; text-decoration: underline;" href= <%= "/merchants/#{merchant.id}"%>> <%= merchant.name %> </a>
  <br>
<% end %>
