<h1>All Merchants</h1>

<section class="merchant-items">
  <% @merchants.each do |merchant| %>
    <h3><%= link_to "#{merchant.name}", "/merchants/#{merchant.id}" %></h3>
  <% end %>
  <%= link_to 'Create New Merchant', '/merchants/new' %>
</section>
