<h1 class="mt-4">Merchants</h1>
<br />

<% @merchants.each do |merchant| %>
  <section class="card card-body bg-light">
    <h4><%= link_to merchant.name, "merchants/#{merchant.id}" %></h4>
    <h6><%= link_to 'Items Sold', "merchants/#{merchant.id}/items" %></h6>
  </section>
  <br />
<% end %>

<br />
<h5>Don't see a merchant you know? <%= link_to 'Create a new merchant', '/merchants/new' %></h5>
