<h1>All Merchants</h1>

<% @merchants.each do |merchant| %>
  <ul>&#x1F436; <a href="/merchants/<%= merchant.id %> "> <%= merchant.name %></a> &#x1F436;</ul>
  <% end %>

  <a href="/merchants/new">Add a New Merchant</a>
