<div>
  <a href="/items">Items Index</a>
  <a href="/merchants/new">New Merchant</a>
</div>

<h1>All Merchants</h1>

<% @merchants.each do |merchant| %>
  <h2><%= merchant.name %></h2>
  <%= button_to 'Delete', "/merchants/#{merchant.id}", method: :delete %>
<% end %>