<h1>Merchants</h1>

<% @merchants.each do |merchant| %>
  <h2><%= merchant.name %></h2>
  <a href="/merchants/new">New</a>
  <form action="/merchants/<%= merchant.id %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="delete"/>
  </form>
<% end %>
