<h1 class='title'>All Merchants</h1>

<% @merchants.each do |merchant| %>
  <section id='merchant-<%= merchant.id %>' class='merchant'>
    <h2><%= merchant.name %></h2>
  </section>
<% end %><br/>

<p class='bottom_link'><%= link_to 'New Merchant', new_merchant_path %></p>
