<h1>All Merchants</h1>

<main>
  <% @merchants.each do |merchant| %>
    <section id="merchant-id-<%= merchant.id %>">
      <h3>Name: <%= link_to merchant.name, "/merchants/#{merchant.id}" %></h3>
    </section>
  <% end %>
</main>

<%= link_to "Add Merchant", "/merchants/new" %>
