<!-- As a visitor
When I visit '/merchants'
Then I see the name of each merchant in the system -->

<h1>All Merchants</h1>

<% @merchants.each do |merchant| %>
  <h2><ul>
    <li><%= link_to "#{merchant.name}", "/merchants/#{merchant.id}" %></li>
  </ul></h2>
<% end %>
<br>
<br>
<p><%= link_to "Create a New Merchant", '/merchants/new' %></p>
