<h1>All Merchants</h1>

<ul id="merchants">
  <% @merchants.each do |merchant| %>
    <li>
      <%= link_to merchant.name, merchant_path(merchant) %>
    </li>
  <% end %>
</ul>

<li><a href="/merchants/new">New Merchant</a></li>
