<h1>Merchants</h1>

<% @merchants.each do |merchant| %>
  <%= link_to "#{merchant.name}", "/merchants/#{merchant.id}" %><br/><br/>
<% end %><br/><br/>

<%= link_to 'Create New Merchant', "/merchants/new" %>
