<h1> Merchants <h1>

<%= link_to("New Merchant", "merchants/new") %>
<br>
<br>
<h2> List of Merchants </h2>
<% @merchants.each do |merchant| %>
  <h3><%= link_to("#{merchant.name}", "/merchants/#{merchant.id}") %></h3>
  <% end %>
