<center>

  <h1>&#x1F436; Merchants &#x1F436;</h1>

  <% @merchants.each do |merchant| %>
  &#x1F436; <a href="/merchants/<%= merchant.id %> "> <%= merchant.name %></a> &#x1F436;<br>
  <% end %>
<br><br>
  <a href="/merchants/new">Add a New Merchant</a> | <a href="/items"> View All Items</a>
</center>
