<section class="page-wrapper">
  <span class="page-title">Merchants</span>
  <ul id="merchants">
    <% @merchants.each do |merchant| %>
    <li>
      <a href="/merchants/<%= merchant.id%>"><%= merchant.name %></a>
    </li>
    <% end %>
  </ul>
  <a href="/merchants/new">Add Merchant</a>
</section>
