<h1 class="primary-heading">All Merchants</h1>

<% @merchants.each do |merchant| %>
  <p><a href=<%= "/merchants/#{merchant.id}" %>><%= merchant.name %></a></p>
<% end %>

<h3><%= link_to("Create New Merchant", "/merchants/new") %></h3>
