<h1 class="mt-4">List of Merchants</h1>
<br />

<% @merchants.each do |merchant| %>
  <div class="card card-body bg-light">
    <h4><a href='merchants/<%= merchant.id %>'><%= merchant.name %></a></h4>
  </div>
  <br />
<% end %>

<br />
<h5>Don't see a merchant you know? <a href="/merchants/new">Create a new merchant</a></h5>
