<h1>List of Merchants</h1>

<ul>
  <% @merchants.each do |merchant| %>
    <li><a href='merchants/<%= merchant.id %>'><%= merchant.name %></a></li>
  <% end %>
</ul>

<h4>Don't see a merchant you know? <a href="/merchants/new">Create a new merchant</a></h4>
