<h1 class='title'>All Merchants</h1>

<% @merchants.each do |merchant| %>
  <section id='merchant-<%= merchant.id %>' class='merchant'>
    <h2><%= link_to merchant.name, merchant_path(merchant) %></h2>
  </section>
<% end %><br/>

<section class='bottom_link'>
  <%= button_to 'New Merchant', new_merchant_path, method: :get %>
</section>
