
  <% @merchants.each do |merchant| %>
  <div class="grid-container">
    <div class="grid-item" ><a href="/merchants/<%=merchant.id %>"><%= merchant.name %></a></div>
  </div>
  <% end %>


<a href="/merchants/new">Create New Merchant</a>
