<section class="page-wrapper">
  <div class="page-title-bar">
    <span class="page-title">Merchants</span>
    <span>
      <div class="dropdown">
        <button class="dropbtn">Sort By</button>
        <div class="dropdown-content">
          <a href="?sort=a-z">Name: A - Z</a>
          <a href="?sort=z-a">Name: Z - A</a>
        </div>
      </div>
      <a href="/merchants/new" class="btn">Add Merchant</a>
    </span>
  </div>
  <ul>
    <% @merchants.each do |merchant| %>
    <li class="merchant-title">
      <a href="/merchants/<%= merchant.id%>"><%= merchant.name %></a>
    </li>
    <% end %>
  </ul>
</section>
