<a href="/merchants/new">New Merchant</a>
<h1>All Merchants</h1>

<% @merchants.each do |merchant| %>
  <p>
    <%= merchant.name %>
    <%= button_to 'Delete', "/merchants/#{merchant.id}", method: :delete %>
    <%= button_to 'Edit', "/merchants/#{merchant.id}/edit", method: :get %>
  </p>
<% end %>