<form action="/merchants" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <h2>Enter a New Merchant:</h2>
  Name:<input type="text" name='merchant[name]'/><br/><hr>
  Address:<input type="text" name="merchant[address]"></input><br/><hr>
  City:<input type="text" name="merchant[city]"></input><br/><hr>
  State:<input type="text" name="merchant[state]"></input><br/><hr>
  Zip:<input type="text" name="merchant[zip]"></input><br/>
  <input type='submit' value='Create Merchant'/>
</form>
