<h1>Create a Merchant</h1>

<form action="/merchants" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <p> Enter a new merchant name:
  <input id='name' type='text' name='merchant[name]'/> </p>
  <p>Address: <input id='address' type='text' address='merchant[address]'/></p>
  <p>City: <input id= 'city' type='text' city='merchant[city]'/></p>
  <p>State: <input id= 'state' type='text' state='merchant[state]'/></p>
  <p>Zip: <input  id= 'zip' type='text' zip='merchant[zip]'/></p>
  <input type='submit'/>
</form>
