<h1 class="mt-4">Create a New Merchant</h1>
<br />

<form action="/merchants" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />

  <p>Name:</p>
  <input type="text" name="merchant[name]" class="form-control" /><br />

  <p>Address:</p>
  <input type="text" name="merchant[address]" class="form-control" /><br />

  <p>City:</p>
  <input type="text" name="merchant[city]" class="form-control" /><br />

  <p>State:</p>
  <input type="text" name="merchant[state]" class="form-control" /><br />

  <p>Zip Code:</p>
  <input type="text" name="merchant[zip]" class="form-control" /><br />

  <input type="submit" name="create_merchant" value="Create Merchant" class="btn btn-primary"/>
</form>
