<form action="/merchants" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <h2>Enter info for a new Merchant:</h2>
  <p>Name</p>
  <input type='text' name='merchant[name]'/><br/>
  <p>Address</p>
  <input type='text' name='merchant[address]'/><br/>
  <p>City</p>
  <input type='text' name='merchant[city]'/><br/>
  <p>State</p>
  <input type='text' name='merchant[state]'/><br/>
  <p>Zip</p>
  <input type='text' name='merchant[zip]'/><br/>
  <input type='submit' name="submit"/>
</form>