<% if @merchant.nil? %>
  <h1 class='title'>All Items</h1>
<% else %>
  <h1 class='title'>All Items for <%= @merchant.name %></h1>
<% end %>

<%= render 'index' %>

<% unless @merchant.nil? %>
  <p class='bottom_link'><%= link_to 'New Item', new_item_path %></p>
<% end %>
