header{
   text-align: center;
   background-color: cornflowerblue;
   color: black;
   border: 3px solid black;
}

nav{
  text-align: center;
  background-color: lightyellow;
  color: black;
  border: 3px solid black;
}
