/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: #8B6220;
  color: #45050C;
}

header {
  background-color: #7DAA92;
  padding: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  color: #45050C;
}

#sitename {
  font-size: 150%;
  font-weight: bold;
}

.index_item {
  margin: 10px;
  padding: 5px;
  border-style: dashed;
  border-width: 2px;
  border-color: #720E07;
}

a:visited {
  color: #45050C;
}

a:link {
  color: #45050C;
}

.page_links {
  margin: 5px;
  padding: 5px;
  display: inline-block;
  border-style: solid;
  border-width: 2px;
  border-color: #720E07;
}

.show_info {
  margin: 5px;
  padding: 5px;
  display: inline-block;
}

.merchant_items {

}

.single_item {
  margin: 5px;
  padding: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: #720E07;
  display: inline-block;
  width: 40%;
}

input[type=text] {
  width: 30%;
  padding: 5px 5px;
  margin: 8px;
}
