.topnav {

  background-color: #38daae;
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */

}

.topnav h2 {
  display: inline;
  color: #4CAF50;
  text-decoration: none;
  font-size: 40px;
  font-family: Tahoma, Arial, Times, serif;font-weight:bold;
  padding-left: 22px;


}

.topnav a {
  font-family: Tahoma, Arial, Times, serif;font-weight:bold;
  text-decoration: underline;
  display: block;
  float: right;
  color: #FFFFFF;
  padding: 14px 16px;
  font-size: 17px;
}
.pageheaders {
  margin-top: 70px;
  font-family: Tahoma, Arial, Times, serif;font-weight:bold;
  font-size: 15px;
}

.pageheaders a {
  font-size: 30px;
}

.itemstables img {
  max-width:100%;
  max-height:100%;
  height:auto;
  display: block;
  margin-left: auto;
  margin-right: auto;


}
.itemstables table, th, td {
  border: 1px solid black;
  border-collapse: collapse;

}

.itemstables th, td {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  padding: 15px;
  text-align: left;
  font-size: 20px;

}

.itemstables td {
  width:175px;
  height:175px;

}

.itemstables tr:nth-child(even) {
  background-color: #eee;
}

.itemstables tr:nth-child(odd) {
 background-color: #fff;
}
.itemstables th {
  background-color: #38daae;
  color: white;
}
.links {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 20px;
}
