body{
  background-color: white;
}

#middle_sec{
  border-style: solid;
  border-color: black;
  border-width: 2px;
  width: 100%;
  height: 900px;
  background-color: #white;
  text-align: left;
  color: white;
  margin-top: 30px;
  margin-bottom: 30px;

}

#running-header{
  border-style: solid;
  border-color: black;
  border-width: 2px;
  width: 100%;
  height: 100px;
  background-color: #232f3e;
  text-align: left;
  color: white;
}

#footer{
  border-style: solid;
  border-color: black;
  border-width: 2px;
  width: 100%;
  height: 100px;
  background-color: #232f3e;
}
