<!DOCTYPE html>
<html>
  <head>
    <title>MiniShopGh</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <!-- Navbar from Bootstrap documentation: https://getbootstrap.com/docs/4.3/components/navbar/ -->
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
      <a class="navbar-brand" href="/">Mini Shop</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <section class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/merchants">Merchants</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/items">Items</a>
          </li>
        </ul>
        <article class="navbar-text">
          <a class="nav-link" href="/merchants/new">Create a Merchant</a>
        </article>
      </section>
    </nav>

    <section class="container">
      <%= yield %>
    </section>

  </body>
</html>
