<!DOCTYPE html>
<html>
  <head>
    <title>MiniShopGh</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <span id="title">Fenton's Mini Shop</span>
      <a href="#" class="header-link">Merchants</a>
      <a href="#" class="header-link">Items</a>
    </header>
    <%= yield %>
  </body>
</html>
