<!DOCTYPE html>
<html>
  <head>
    <title>MiniShopGh</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
        <h1><a href="/items" id="title"> The Min Min </a></h1>
        <nav>
          <a href="/items" class="perm-links"> Items </a>
          <a href="/merchants" class="perm-links"> Merchants </a>
        </nav>
    </header>
    <%= yield %>
  </body>
</html>
