<!DOCTYPE html>
<html>
  <head>
    <title>MiniShopGh</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
        <span id="shop-title"><a href="/">The Min Min</span>
        <a href="/items" class="perm-links"> Items </a>
        <a href="/merchants" class="perm-links"> Merchants </a>
    </header>
    <%= yield %>
  </body>
</html>
