<!DOCTYPE html>
<html>
  <head>
    <title>Pug Palace</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header><h2>&#x1F436; <a href="/merchants">All Merchants</a> | <a href="/items">All Items</a> &#x1F436;</h2></header>
    <%= yield %>
  </body>
</html>
